* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: #e3edf7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7) , -0.5px -0.5px 0px rgba(255, 255, 255, 1) , 0.5px 0.5px 0px rgba(0, 0, 0, 0.15) , 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number{
    font-weight: 600;
    color: #555;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 471px;
    stroke-dashoffset: 471px;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}