  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins" , sans-serif;
        }
        /* Container */
        .container{
            height: 100vh;
            width: 100%;
            background: #402662;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Card */
        .card{
            width: 510px;
            max-width: 100%;
            background-color: #ffff;
            border-radius: 5px;
            padding-bottom: 50px;
            position: relative;
        }

        .icon{
            text-align: center;
            margin-top: -30px;
        }
        .icon i{
            text-align: center;
            font-size: 22px;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            padding-top: 18px;
            cursor: pointer;
            background-color: #ffff;
            box-shadow: 0 5px 10px 0 rgba(25 , 125 , 125, 0.22);
        }

        .form{
            padding: 0px 35px;
            margin-top: 35px;
        }

        .childs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;
            position: relative;
        }

        .childs input, textarea{
            width: 72%;
            padding: 11px 0px;
            outline: none;
            font-size: 14px;
            border: none;
            border-bottom: 1px solid #999;
            resize: none;
        }

        .submit{
            text-align: center;
            margin-top: 25px;
        }
        #submit{
            background-color: #402662;
            border: 1px solid #402662;
            color: #ffff;
            padding: 10px 40px;
            border-radius: 3px;
            cursor: pointer;
            box-shadow: 0 5px 10px 0 rgba(25 , 125 , 125 , 0.45);
            transition: all 0.3s;
        }

        #submit:hover{
            background: #ffff;
            color: #402662;
            border: 1px solid #402662;
        }

        .childs span{
            position: absolute;
            right: 0px;
            color: red;
            font-size: 12px;
        }

        #child4 span{
            bottom: 12px;
        }

        #formErr{
            position: absolute;
            left: 35px;
            color: red;
            bottom: 20px;
        }

         /* CSS Changing */
         .green i{
            color: green;
            font-size: 25px;
        }

    