* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* CONTAINER SECTION */
.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#622774, #C53364);
    display: flex;
    justify-content: center;
    align-items: center;
}




/* TO DO LIST SECTION */
.todoList {
    width: 490px;
    max-width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    padding: 12px 20px;
}

.toDo {
    display: flex;
    align-items: center;
}

.toDo img {
    width: 30px;
}



/* SEARCH SECTION */
.search {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 22px;
    margin-top: 10px;
    background-color: whitesmoke;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 8px;
    background-color: whitesmoke;
}


.search button {
    background-color: orangered;
    border: none;
    outline: none;
    color: #ffff;
    padding: 12px 34px;
    border-radius: 30px;
    cursor: pointer;
}



/* LISTS SECTION */
.list{
    /* border: 2px solid red; */
    padding: 12px 30px;
    margin-top: 10px;
}

.list ul li{
    list-style: none;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    padding: 10px 4px;
    /* text-decoration: line-through; */
}


/* UL SE PEHLE GALTI SE BHI CLASS YA ID NAHIN LIKHNI */
ul li::before{
    background: url(images/unchecked.png) no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: -25px;
}

ul .checked{
    text-decoration: line-through;
}

ul .checked::before{
    background: url(images/checked.png) no-repeat center center/cover;
}

/* SPAN POSITION ABSOLUTE K SATH KAM KRE GA Q K YE LI KA CHILD HAI TO YE APNE PARENT K HISAB SE ADJUST HO GA */
ul li span{
    position: absolute;
    bottom: 1px;
    left: 360px;
    background-color:whitesmoke;
    height: 35px;
    width: 35px;
    /* border: 2px solid red; */
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
}

ul li span:hover{
    background-color:rgb(185, 175, 175);
}

